/* FONT STYLES */

@media (min-width: 950px) {
  p {
    font-size: 1.125rem;
  }
  h2 {
    font-size: 2rem;
  }
}

/* MAIN GRID LAYOUT */

@media (min-width: 650px) {
  .main-grid {
    grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(150px, 320px)) minmax(
        1em,
        1fr
      );

    grid-template-areas:
      ". header header header ."
      ". hero hero hero ."
      ". techskills techskills techskills ."
      "projects projects projects projects projects"
      ". contact contact contact ."
      ". footer footer footer .";
  }
}

/* HERO SECTION  */

@media (min-width: 650px) {
  .hero {
    padding-top: 5rem;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  .hero__title-section {
    padding-right: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 35%;
    border-right: 1px solid var(--primary-light);
  }
  .hero__info-section {
    width: 60%;
    padding: 1rem 0 0 3rem;
  }
  .hero__name-header {
    line-height: 5rem;
  }

  #border {
    border-bottom: solid 3px var(--primary-light);
    position: absolute;
    right: -7px;
    width: 20px;
    animation: animated-cursor 600ms steps(35, end) infinite;
  }
  @keyframes animated-text {
    0% {
      width: 0;
    }
    100% {
      width: 260px;
    }
  }
}

/* BORDER-RIGHT WAS CLIPPING BETWEEN 650-800PX */

@media (min-width: 800px) {
  .hero__title-section {
    padding-right: 0;
  }
}

/* PROJECTS SECTION */
@media (min-width: 650px) {
  .projects__project {
    flex-direction: row;
    gap: 4rem;
  }
  .projects__img-container {
    max-width: 500px;
  }
  .projects__copy {
    max-width: 45%;
  }
}

@media (min-width: 950px) {
  .projects__img-container {
    min-width: 450px;
    min-height: 250px;
  }
  .projects__copy {
    max-width: 25%;
  }
}

/* TECHSKILLS SECTION */

@media (min-width: 550px) {
  .techskills__img {
    height: 64px;
  }
}

@media (min-width: 1300px) {
  .techskills__about-section {
    width: 50%;
  }
  .techskills {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .techskills__about-section {
    margin: 2rem 4rem 0 0;
    align-self: start;
  }

  .techskills__container {
    min-width: 500px;
  }
}

/* CONTACT STYLING */
