:root {
  --primary-dark: #02343f;
  --primary-light: #f0edcc;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  font-family: "Poppins", sans-serif;
}

/* MAIN LAYOUT */

.main-grid {
  display: grid;
  grid-template-columns: minmax(0.5em, 1fr) minmax(0px, 500px) minmax(
      0.5em,
      1fr
    );

  grid-template-areas:
    ". header ."
    ". hero ."
    ". techskills ."
    ". projects ."
    ". contact ."
    ". footer .";
}

header {
  grid-area: header;
  margin-bottom: 4rem;
}

.hero {
  grid-area: hero;
  height: 100vh;
}

.techskills {
  grid-area: techskills;
}

.projects {
  grid-area: projects;
}

.project-list {
  grid-area: project-list;
}

.contact {
  grid-area: contact;
}

footer {
  grid-area: footer;
}

/* FONT */

h1,
h2,
h3 {
  margin: 0;
}

.name-header {
  letter-spacing: 5px;
  font-weight: 700;
  padding: 0;
  font-size: 3.8rem;
  line-height: 3.9rem;
}

.name-title {
  margin-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.9;
  letter-spacing: 1px;
}

/* BUTTONS */
.button {
  padding: 5px 15px;
  font-size: 1rem;
  background: var(--primary-light);
  color: var(--primary-dark);
  border: 3px solid var(--primary-light);

  box-shadow: silver 2px 2px 0px 0px;
  cursor: pointer;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
}

.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
}

.btn-rect-to-round {
  font-size: 16px;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in 0s;
  border: 4px double var(--primary-light);
  color: var(--primary-light) !important;
}

.btn-rect-to-round:hover {
  border-radius: 60px;
  color: var(--primary-dark) !important;
  border-color: var(--primary-light);
  background: var(--primary-light);
}

/* HEADER */

nav {
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
}

.navbar-item-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.5em;
}

.navbar-item {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  margin-right: 1em;
  text-transform: uppercase;
}

.navbar-item-container::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  right: 0;
  background-color: var(--primary-light);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbar-item-container:hover::after {
  visibility: visible;
  width: 100%;
}
.navbar-item:hover {
  opacity: 0.7;
}

/* HERO */

.title-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.resume-buttons-nav {
  margin-top: 2rem;
  width: 95%;
}

.social-icons-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}
